<div class="slide_wrapper">
	{{#if metadata.logo-small}}
		<div class="slide_logo_small"></div>
	{{/if}}
	{{#if metadata.title}}
		<h1 class="slide_title " style="text-align: center; display: block;">
			{{metadata.title}}
		</h1>
	{{/if}}
	<div class="slide_content" style="
		{{#if metadata.padding-top}}padding-top: {{metadata.padding-top}};{{/if}}
		{{#if metadata.padding-top}}padding-bottom: {{metadata.padding-bottom}};{{/if}}
		{{#if metadata.padding-left}}padding-left: {{metadata.padding-left}};{{/if}}
		{{#if metadata.padding-right}}padding-right: {{metadata.padding-right}};{{/if}}
	" >
		{{{content}}}
	</div>
	<footer class="slide_footer">
		<div class="slide_footer_left">
			Catching Wire, An introduction to CBWire 4<Br>
			IntoTheBox 2025 | IntoTheBox.org
		</div>
		<div class="slide_footer_center">
			<div class="slide_footer_logo">&nbsp;</div>
		</div>
		<div class="slide_footer_right">
			Michael Rigsby<br>
			OIS Technologies | oistech.com
		</div>
	</footer>
</div>